body,
html {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #f5f5f5;
}

#app {
  width: 100%;
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.table {
  font-size: 14px;
  margin-top: 40px;
}

.table td,
.table th {
  vertical-align: middle;
}

img {
  max-width: 120px;
}

.form-inline {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline input {
  min-width: 210px;
  text-align: center;
}

a {
  cursor: pointer;
}
