<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HBNT :: Tweets</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.min.js" integrity="sha256-SKdOGI9oIPdHcwjFQg+eCwBdIWFjxiNhWFlU9Gt0o18=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/app.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div id="app">
      <signin-form v-if="!logged"></signin-form>

      <div v-if="logged">
        <header>
          <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
              <span class="navbar-brand d-flex align-items-center">HBNT</span>
              <span class="navbar-brand d-flex align-items-center">
                <a @click="logout">Logout</a>
              </span>
            </div>
          </div>
        </header>

        <tweets></tweets>
      </div>
    </div>

    <script src="/app.js" charset="utf-8"></script>
  </body>
</html>
